/* App.less Style Sheets */
/* Less Variables */
/* Main Tags */
.main {
  padding-top: 70px;
}
.panel-title {
  display: inline-block;
  width: 50%;
  text-align: left;
}
.panel-timestamp {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #aaa;
  width: 49%;
  text-align: right;
}
.comment-group {
  width: 92.6%;
}
.comment-group .form-control {
  width: 100%;
}
